# Python cache
__pycache__/
*.py[cod]
.pytest_cache/
.pytest_tmp/

# Virtual environments
venv/
.venv/

# Build artifacts
build/
dist/
*.egg-info/

# Logs
*.log

# Temporary files
*.tmp

# Flutter
flutter_app/.dart_tool/
flutter_app/build/

# IDE
.vscode/
.idea/